repos:
  - repo: local
    hooks:
      - id: rst
        name: rst
        entry: rst-lint
        files: ^(CHANGELOG.rst|README.rst|HOWTORELEASE.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
